
.navbar 
{
    background: linear-gradient(#0b3368, #0b3368);
   /* height: 4em; */
    margin-bottom: 1em !important; 

}
 a.navbar-brand , a.nav-link
{
    color:#fff !important;
    background: linear-gradient(#0b3368, #0b3368) !important;


}

/* pour liens bouton mobile */
@media (max-width: 500px) {
    .bouton1
    {
        width : 6em;
        height : 6em;
        font-size : 0.9em;
        padding-top : 1em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        border-radius :1em;
		margin-bottom : 1em;
		margin-right:-1em;
    }
    .bouton1texte{
        font-size : 1.2em;
        margin-top: -0.1em; 
    }
    .bouton1-img
    {
        margin-top: -0.5em;
        font-size : 0.7em;   
    }
}
@media (min-width: 500px) {
    .bouton1
    {
        width : 10em;
        height : 10em;
      /*  font-size : 1.5 em;*/
        font-size : 1.3em;   
        padding-top : 3.5em;
        padding-left: 0.3em;
        padding-right: 0.3em;
        border-radius :2em;
		margin-bottom: 2em;
		margin-right:-0.7em;
	}
    .bouton1texte{
        font-size : 1.8em;
        margin-top: -0.1em;       
    }
    .bouton1-img
    {
        margin-top: -0.1em;
        font-size : 1.2em;   
    }
}

.bouton1
{
    display : block;
    color: #fff;
    text-align: center;
    padding-top:1em;
    background: linear-gradient(#0f448a, #1a73e8);

}
.bouton1:hover
{

    background: linear-gradient(#0c356b, #3268af);
}

/*
.nav-link .navbar-collapse .navbar-nav  
{
    color:#fff;
    font-size : 1.4em;
    background: linear-gradient(#0b3368, #0b3368) !important;
}

.navbarResponsive
{
  background: linear-gradient(#0b3368, #0b3368);
}
*/
h1.titrepage
{

    font-size : 3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}
h2.titrearticle
{
    margin-top : 0.2em;
    margin-left : 0.2em;
    margin-bottom : 0.1em;
    font-size : 2.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
   /* background: #aaaaaa;*/
    padding-left: 0.2em;
    padding-right: 0.2em;
    color:#888; 

}
a.titrearticle
{
    color:#888; 
    text-decoration: none;
}
 .datearticle
{
    margin-left : -0.4em;
    font-size : 0.9em;
    color:#555; 
    margin-top : -0.3em;
    margin-bottom : -0.2em;
   /* background: #e4d74d;*/
    padding-left: 0.54em;


}
.textearticle
{
    margin-left : 0.5em;
    font-size : 1em;
  /*  background: #bd7575;*/
    padding : 0.4em;
}
.datefin
{
    font-size : 0.7em;
    color:#777; 
    margin-top : -0.3em;
    margin-bottom : -0.1em;
    text-align: right;
 
}
.compteur
{
    text-align: right;
    color:#777;
    font-size : 0.8em;  
}
/* pied */
.komputero
{
    color:#aaa; 
    font-size : 0.7em;
    text-align: right;
    margin-top: -1.0em;
    margin-bottom: -2em;
}
.pied
{
    color:#fff;
  /*  background: linear-gradient( #0150b8,#0b3368);*/
   /* background: linear-gradient(#0b3368, #0150b8);*/
   background: linear-gradient(#0b3368, #0b3368);

   color:#bbb;

}
a.pied
{
text-decoration : none;
color:#ccc;
font-size : 0.75em !important;
}
a:hover.pied
{
text-decoration : none;
color:#ddd;
}
 